name: .NET build

on:
  push:

jobs:
  build:
    strategy:
      matrix:
        project: [ DmitryLegostaev.Polly.HandleFromList ]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: Restore dependencies
        run: dotnet restore "${{ matrix.project }}"

      - name: Build
        run: dotnet build "${{ matrix.project }}" --no-restore
